@import url('https://fonts.googleapis.com/css?family=Buda:300');
* {
    padding:0;
    margin:0;
    box-sizing:border-box;
    font-family: 'Buda', cursive;
}

body {
    background-color: rgba(153, 0, 0, 1);

}

main {
    padding: 3rem;
    max-width: 100%;
    text-align: center;

}

h1 {
    font-size: 5rem;
    color: rgb(204, 153, 0);
    margin-bottom: 2rem;
    text-shadow: 3px 3px 2px rgb(255, 191, 0);

}

 video {
     width: 640px;
     height: 360px;
     border: 2px solid rgb(204, 153, 0);
 }

#mainCanvas{
    width: 640px;
    height: 360px;
    border: 2px solid rgb(204, 153, 0);
}

div {
    text-align: center;
    padding-left: 3rem;
    margin: 1rem;
    padding-bottom: 3rem;
}

button {
    clear: right;
    background-color: rgb(204, 153, 0);
    border:2px solid rgb(255, 191, 0);
    color: rgba(153, 0, 0, 1);
    width: 10rem;
    height: 70px;
    font-size: 1.4em;
    cursor: pointer;
    float: center;
    margin-right: .9rem;
    border-radius: 20px;
    padding: .6rem;
    padding-bottom: .2rem;
}

section {
    display: inline-block;
    margin: .8rem;
    padding: .8rem;
    margin-top: -5rem;
}

p {
    float: left;
    color: rgb(204, 153, 0);
    /*font-size: .8rem;*/
    margin: 5%
}
 img{
     float: right;

 }

